 {% extends 'layout.html' %}

{% block head %}

<title>Posts</title>
{% endblock %}

{% block body %}


<h2>User Posts</h2>

<!-- <form action='/posts' method='POST'>
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title" aria-label="Enter Title">
    
    <label for="author">Author:</label>
    <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author" aria-label="Enter Author">

    <label for="content">Post:</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
    <br>
    
    <input type='submit' class="btn btn-outline-success" value='Post'>
    
</form> -->

<a type="button" href="/posts/new_post" class="btn btn-outline-success btn-lg" id="new_post"><i class="fa fa-plus" aria-hidden="true"></i> New Post</a>



<hr>

{% for post in posts %}
<br>
    <h3>{{ post.title }}</h3>
    {% if post.author %}
        <small>Written By: {{ post.author }} on {{ post.date_posted }}</small>
    {% else %}
        <small>Written By: N/A on {{ post.date_posted }} </small>
    {% endif %}
    <br>
    <br>
    <p style="white-space: pre-wrap;">{{ post.content }}</p>
    <a class="btn btn-danger" href="/posts/delete/{{ post.id }}">Delete</a>
    <a class="btn btn-primary" href="/posts/edit/{{ post.id }}">Edit</a>
    <hr>
{% endfor %}

{% endblock %}