{% extends 'base.html' %} {% block head %}
<title></title>
{% endblock %} {% block body %}

<form action="/register" , method="post">
  <h2 align='center'>Sign up</h2>

  <div class="form-group">
    
    <label for="email">Email</label>
    <input
      class="form-control"
      type="email"
      name="email"
      id="email"
      placeholder="Enter Email"
      
    />
  </div>
  <br>
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input
      class="form-control"
      type="text"
      name="firstname"
      id="firstname"
      placeholder="Enter First Name"
      
    />
  </div>
  <br>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input
      class="form-control"
      type="text"
      name="surname"
      id="surname"
      autocomplete="off"
      placeholder="Enter Surname"
      
    />
  </div>
  <br>

  <div class="form-group">
    <label for="password1">Password</label>
    <input
      class="form-control"
      type="password"
      name="password1"
      id="password1"
      placeholder="Enter Password"
      
    />
  </div>

  <br>

  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      class="form-control"
      type="password"
      name="password2"
      id="password2"
      placeholder="Confirm Password"
      
    />
  </div>

  <br>
  <button class="btn btn-primary" type="submit">Register</button>


</form>

{%endblock body%}
